{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "*.mdx",
      "options": {
        "printWidth": 70,
        "singleQuote": true,
        "semi": false
      }
    }
  ]
}
