---
import queryGGImage from "@assets/query-gg.jpg";
import { Image } from "astro:assets";
---

<a href="https://query.gg/?s=dom" target="_blank" rel="noopener noreferrer">
  <Image
    src={queryGGImage}
    alt="Query.gg - The official React Query course"
    loading="lazy"
    class="w-full rounded-lg"
  />
</a>
