---
import SkipNavContent from '@components/a11y/skip-nav-content.astro'
import Link from '@components/link.astro'
import Seo from '@components/seo.astro'
import Spacer from '@components/spacer.astro'
import Layout from '@layouts/layout.astro'
import { getTags } from '@utils'
import { getCollection } from 'astro:content'

const entries = await getCollection('blog')

const tags = getTags(entries)
---

<Layout>
	<Seo slot="seo" title="Tags" />
	<SkipNavContent>
		<h2 class="font-medium text-xl md:text-2xl lg:text-3xl text-highlight">All tags</h2>
		<Spacer axis="vertical" size={12} />
		<div class="flex gap-6 flex-col">
			{
				tags.map(({ tag, slug, count }) => (
					<Link variant="highlight" href={`/tags/${slug}/`}>
						{tag} ({count})
					</Link>
				))
			}
		</div>
	</SkipNavContent>
</Layout>
