---
import Link from './link.astro'
import Spacer from './spacer.astro'
import ThemeSelect from './theme-select.astro'
---

<footer class="container">
	<Spacer axis="vertical" size={32} />
	<div class="flex flex-row justify-between items-center pt-6 border-t border-border">
		<div class="flex gap-4">
			<ThemeSelect />
			<span class="w-px h-auto bg-border"></span>
			<Link href="/rss.xml">RSS Feed</Link>
		</div>
		<div>
			<Link href="https://github.com/tkdodo">GitHub</Link>
		</div>
	</div>
	<Spacer axis="vertical" size={8} />
</footer>
