---
import type {SandpackPredefinedTemplate, SandpackSetup} from "@codesandbox/sandpack-react";
import {
  Sandpack
  
  
} from "@codesandbox/sandpack-react";

interface Props {
  files: Record<string, string>;
  template?: SandpackPredefinedTemplate;
  title: string;
  customSetup?: SandpackSetup;
}

const { files, template, customSetup } = Astro.props;
---

<div class="not-prose my-8" data-playground>
  <Sandpack
    theme="auto"
    files={files}
    template={template}
    customSetup={customSetup}
    client:visible
  />
</div>
