<div
	class="prose max-w-none dark:prose-invert prose-base md:prose-lg lg:prose-xl prose-a:hover:no-underline prose-h1:[font-size:1.8em] md:prose-h1:[font-size:2.1em] lg:prose-h1:[font-size:2.4em] prose-inline-code:before:content-[''] prose-inline-code:after:content-[''] prose-inline-code:font-normal prose-inline-code:bg-(--color-ic-bg) prose-inline-code:rounded prose-inline-code:px-1.5 prose-inline-code:py-0.5 prose-inline-code:border-(length:--ec-brdWd) prose-inline-code:border-(--color-ic-border) prose-img:rounded-lg"
>
	<slot />
</div>
