name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:
  push:
    branches: [main]
permissions:
  contents: write

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm run format:write
      - run: pnpm run lint:fix
      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
