name: Knip

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  knip:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Knip
        run: pnpm run lint:knip

      - name: Run Lint
        run: pnpm run lint

      - name: Run Format Check
        run: pnpm run format:check

      - name: Run Typecheck
        run: pnpm run typecheck
